{% extends 'base.html' %}

{% block content %}
<form class="form-signin" method="post">
  <h2 class="form-signin-heading">Please register</h2>
  <label for="username" class="sr-only">Username</label>
  <input name="username" class="form-control" placeholder="Username" autofocus="" id="username" required>
  <label for="password" class="sr-only">Password</label>
  <input id="password" type="password" name="password"
         class="form-control" placeholder="Password" required>
  <br>
  <input type="submit" value="Register">
</form>
{% endblock %}
