<!doctype html>

<html lang="en">
<head>
  <title>{% block title %}{% endblock %} - FoodFlix</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="css/overlay.css">
</head>

<link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">

<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <b><font color="red">FoodFlix</font></b>
        <font size="1">
          Netflix for Food
        </font>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left">
        {% if g.user %}
        <li><a href="{{ url_for('blog.browse') }}"><span class="fas fa-globe"></span> Browse</a></li>
        <li><a href="{{ url_for('blog.favs') }}"><span class="fas fa-heart"></span> My Favorites</a></li>
        <li><a href="{{ url_for('blog.recommender') }}"><span class="far fa-lightbulb"></span> Recommend me!</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if g.user %}
        <li><a href="{{ url_for('blog.profile')}}"><span class="far fa-user"></span> {{ g.user['username'] }}</a>
        <li><a href="{{ url_for('auth.logout') }}"><span class="fas fa-sign-out-alt"></span> Log Out</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}" type="button" class="btn btn-default"> Log In</a></li>
        {% endif %}
      </ul>
      {% if g.user %}
      <form method="post" class="navbar-form navbar-right">
        <div class="form-group">
          <input name="ingredients" id="ingredients"
                 type="text" class="form-control" placeholder="Ingredients"
                 value="{{request.form['ingredients']}}"></input>
        </div>
        <button type="submit" class="btn btn-default">
          <span class="fas fa-search"></span>
        </button>
      </form>
      {% endif %}
    </div>

  </div>
</nav>

<br><br>
<br><br>

<header>
  {% block header %}{% endblock %}
</header>
{% for category, message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{category}} text-center" role="alert">{{ message }}</div>
{% endfor %}
{% block content %}{% endblock %}

</body>
