{% extends 'base.html' %}

{% block content %}
<div class="container">

  <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <div class="panel-title">User profile for {{g.user['username']}}</div>
      </div>
      <div class="panel-body">
        <form  class="form-horizontal" method="post" >
          <div id="div_id_fullname" class="form-group required">
            <label for="id_fullname" class="control-label col-md-4  
                                            requiredField"> Name<span class="asteriskField"></span></label>
            <div class="controls col-md-8 ">
              <input class="input-md  textinput textInput form-control"
                     id="id_fullname" maxlength="30" name="fullname"
                     placeholder="Your Full Name" style="margin-bottom: 10px"
                     type="text" value="{{user['fullname']}}">
            </div>
          </div>
          <div id="div_id_gender" class="form-group required">
            <label for="id_gender"  class="control-label col-md-4" required> Gender<span class="asteriskField">*</span> </label>
            <div class="controls col-md-8 "  style="margin-bottom: 10px">
              <label class="radio-inline">
                <input type="radio" name="gender"
                       id="id_gender_1" value="M"
                       style="margin-bottom: 10px"
                       {% if user['gender'] == 'M' %} checked {% endif %}>Male</label>
              <label class="radio-inline">
                <input type="radio" name="gender"
                       id="id_gender_2" value="F"
                       {% if user['gender'] == 'F' %} checked {% endif %}>Female</label>
            </div>
          </div>
          <div id="age" class="form-group required">
            <label for="id_age" class="control-label col-md-4  requiredField">Age<span class="asteriskField">*</span> </label>
            <div class="controls col-md-4 ">
              <input class="input-md textinput textInput form-control"
                     id="id_age" name="age" placeholder="Years Old"
                     style="margin-bottom: 10px" type="number"
                     {% if user['age'] is not none %} value="{{'%i'| format(user['age']|int)}}" {%endif%}required>
            </div>
          </div>
          <div id="feet" class="form-group required">
            <label for="id_feet" class="control-label col-md-4  requiredField">Height<span class="asteriskField">*</span> </label>
            <div class="controls col-md-4 ">
              <input class="input-md textinput textInput form-control"
                     id="id_feet" name="feet" placeholder="Feet"
                     style="margin-bottom: 10px" type="number"
                     {% if user['feet'] is not none %} value="{{user['feet']}}" {%endif%}required>
              <input class="input-md textinput textInput form-control"
                     id="id_inches" name="inches" placeholder="Inches"
                     style="margin-bottom: 10px" type="number"
                     {% if user['inches'] is not none %} value="{{user['inches']}}" {%endif%}required></input>
            </div>
          </div>
          <div id="weight" class="form-group required">
            <label for="id_weight" class="control-label col-md-4  requiredField">Weight<span class="asteriskField">*</span> </label>
            <div class="controls col-md-4 ">
              <input class="input-md textinput textInput form-control"
                     id="id_weight" name="weight" placeholder="Pounds"
                     style="margin-bottom: 10px" type="number"
                     {% if user['weight'] is not none %} value="{{user['weight']}}" {%endif%}required>
            </div>
          </div>
          <div id="activity" class="form-group required">
            <label for="id_activity" class="control-label col-md-4  requiredField">Activity level<span class="asteriskField">*</span> </label>
            <div class="controls col-md-8 ">
              <select name="activity" class="form-control" required>
                <option value="sedentary"
                        style="margin-bottom: 10px"
                        {% if user['activity'] == 'sedentary' %} selected="selected" {% endif %}
                        >Sedentary</option>
                <option value="light"
                        style="margin-bottom: 10px"
                        {% if user['activity'] == 'light' %} selected="selected" {% endif %}
                        >Lightly Active (Execise 1-3 times/week)</option>
                <option value="active"
                        style="margin-bottom: 10px"
                        {% if user['activity'] == 'active' %} selected="selected" {% endif %}
                        >Active (Execise 3-5 times/week)</option>
                <option value="very"
                        style="margin-bottom: 10px"
                        {% if user['activity'] == 'very' %} selected="selected" {% endif %}
                        >Very Active (Execise 5-7 times/week)</option>
              </select>
            </div>
          </div>
          <div id="goal" class="form-group required">
            <label for="id_goal" class="control-label col-md-4  requiredField">Goal<span class="asteriskField">*</span> </label>
            <div class="controls col-md-8 ">
              <select name="goal" class="form-control" required>
                <option value="maintain"
                        style="margin-bottom: 10px"
                        {% if user['goal'] == 'maintain' %} selected="selected" {% endif %}
                        >Maintain Weight</option>
                <option value="lose"
                        style="margin-bottom: 10px"
                        {% if user['goal'] == 'lose' %} selected="selected" {% endif %}
                        >Lose one pound a week</option>
                <option value="gain"
                        style="margin-bottom: 10px"
                        {% if user['goal'] == 'gain' %} selected="selected" {% endif %}
                        >Gain one pound a week</option>
              </select>
            </div>
          </div>
          <div id="BMI" class="form-group required">
            <label for="id_BMI" class="control-label col-md-4  requiredField">
              <button type="button" data-toggle="popover" data-placement="top" title="Normal weight: (18.5-24.9)">
                <span class="fas fa-question"></span>
              </button>
              Your BMI
            </label>
            <div class="controls col-md-4 ">
              <input type="text" readonly class="input-md textinput textInput form-control"
                     value="{{'%0.2f'| format(user['bmi']|float)}}"></input>
            </div>
          </div>
          <div id="calsperday" class="form-group required">
            <label for="id_calsperday" class="control-label col-md-4  requiredField">
              <button type="button" data-toggle="popover" data-placement="top" title="Calories/week needed to accomplish your goal">
                <span class="fas fa-question"></span>
              </button>
              Cals/day for goal
            </label>
            <div class="controls col-md-4 ">
              <input type="text" readonly class="input-md textinput textInput form-control"
                     value="{{'%0.2f'| format( user['cals_per_day']|float ) }}"></input>
              <small class="form-text text-muted">calories/day</small>
            </div>
          </div>
          <div id="restrictions" class="form-group">
            <label for="id_restrictions" class="control-label col-md-4  requiredField">Food Restrictions<span class="asteriskField"></span> </label>
            <div class="controls col-md-8 ">
              <input class="input-md textinput textInput form-control"
                     id="id_restrictions" name="restrictions" placeholder="chicken walnuts ..."
                     style="margin-bottom: 10px" type="text" value="{{user['restrictions']}}">
            </div>
          </div>
          <input class="btn btn-primary center-block" type="submit" value="Save">
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
  $('[data-toggle="popover"]').popover()
  })
</script>
{% endblock %}
